POSTGRES_DB=oficina_db
POSTGRES_USER=oficina_user
POSTGRES_PASSWORD=troque-esta-senha
JWT_SECRET=troque-este-jwt-secret
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
APP_MAIL_FROM=
APP_PUBLIC_BASE_URL=http://localhost:8080
NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME=tech-challenge-oficina-api
NEW_RELIC_LICENSE_KEY=
